*{box-sizing: border-box;}
body{
    background-color: peru;
}
h1{
    text-align: center;
    text-decoration: double;
    text-decoration-color: black;
}
h2{
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.ut{
    list-style: circle;
}
li{
    font-size: 20px    
}
.hotel{
    height: 15%;
    width: 30%;
    float: right;
}
.kep{
    height: 150px;
    width: 300px;
}
footer{
    background-color: yellow ;
    font-size: 20px;
}
#galeria{
    padding: 10px;
}
#galeria img:hover{
    opacity: 0.8;
}